:root {
  --slider-range: 145px;
  --nav-background-color: #0d0e13;
  --main-background-color: #191a24;
  --component-background-color: #515570;
  --comp-color-hover: #5e6282;
  --valbility-red: #d30011;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  /* Diables original ugly orange outline on tab index. Tab index still works */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: var(--main-background-color);
  color: white;

  -webkit-app-region: no-drag;
}

main {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: var(--nav-background-color);

  display: flex;
  height: 25px;

  /* Text Styling */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;

  -webkit-app-region: drag;
}

nav div {
  display: flex;
  gap: 0.25rem;

  align-items: center;
  justify-content: center;
}

.logo-title {
  flex-basis: 90%;
  justify-content: flex-start;
  font-size: 0.5rem;
}
.logo-title img {
  width: 20px;
  height: 20px;
  margin-left: 0.25rem;
}

.utility {
  flex-grow: 1;
  gap: 0;
}

.utility button {
  width: 25px;
  height: 25px;
  -webkit-app-region: no-drag;
  border: none;
  background-color: var(--nav-background-color);
  color: white;
  transition: background-color 100ms ease-out;
}

#minimize-btn:hover {
  background-color: #34384c;
}

#exit-btn:hover {
  background-color: red;
}

.left {
  width: 50%;
  height: 175px;
}

.right {
  width: 50%;
  height: 175px;
}

#hotkeys-text {
  color: gray;
  font-size: 1rem;
  margin-left: 0.75rem;
}

.voice-hotkeys {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.25rem;
}

.key-group {
  display: inline-block;
  text-align: center;
}

.voice-hotkeys input {
  border: 2px solid black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--component-background-color);
  color: white;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;

  cursor: pointer;
}

.voice-hotkeys input:hover {
  background-color: var(--comp-color-hover);
}

.key-group label {
  display: block;
  height: auto;
  word-wrap: break-word;
  width: 50px;
  font-size: 0.75rem;
}

#voice-text {
  color: gray;
  font-size: 1rem;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}

.microphone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  margin-left: 15px;
  margin-top: 0.25rem;
}
#mic {
  background: var(--component-background-color);
  color: white;
  font: inherit;
  border: 2px solid black;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#mic:hover {
  background-color: var(--comp-color-hover);
}

.voice-bar {
  border: 2px solid black;
  border-radius: 15px;
  width: var(--slider-range);
  height: 25px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.voice {
  width: var(--slider-range);
  overflow: hidden;
  z-index: -2;
  position: relative;
}

.voice-bar #progress {
  height: 25px;
  z-index: -1;
  width: var(--slider-range);
  position: absolute;

  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(237, 167, 0, 1) 22%,
    rgba(42, 135, 21, 1) 40%,
    rgba(42, 135, 21, 1) 100%
  );
}
.voice-bar #cover-box {
  width: var(--slider-range);
  height: 25px;

  background-color: var(--component-background-color);
  right: 0;
  z-index: 1;
  position: absolute;
}

.input-slider {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.input-slider .slider {
  -webkit-appearance: none;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 40px;
  width: 5px;
  border-radius: 15px;
  margin-top: -10px;
  background: black;
  cursor: ew-resize;
}

.voice-bar:has(.slider:focus) {
  box-shadow: 0px 0px 8px gray;
}

.voice-bar:hover {
  box-shadow: 0px 0px 4px gray;
}

#audio-text {
  color: gray;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.audio-switches input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.audio-switches input[type="checkbox"].toggle:checked + label {
  color: white;
  background-color: darkgreen;
}

/* LIGHTENED BY 5% */
.audio-switches input[type="checkbox"].toggle:checked + label:hover {
  background-color: #007800;
}

.audio-switches label {
  color: white;
  background-color: darkred;
  width: 180px;
  height: 35px;
  border: 2px solid black;
  border-radius: 15px;

  margin-left: 0.5rem;
  margin-top: 0.25rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.audio-switches label:hover {
  background-color: #9d0000;
}

.activity {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.activity img {
  width: 40px;
  height: 40px;
}

.game-activity {
  display: flex;
  gap: 0.5rem;
  max-width: 145px;
  min-width: 145px;

  justify-content: flex-start;
  align-items: center;
}

.settings-cog {
  flex-grow: 1;
  width: 35px;
  height: 35px;
  margin-top: 0.2rem;

  border: 2px solid black;
  color: white;
  border-radius: 5px;
  background-color: var(--component-background-color);
  cursor: pointer;
}

.settings-cog:hover {
  background-color: var(--comp-color-hover);
}

#game-status {
  color: gray;
  font-size: 1.4rem;
}

#version {
  color: grey;
  font-size: 0.5rem;
  letter-spacing: 0.5px;
  position: absolute;
  right: 4px;
  bottom: 2px;
}

#updater {
  color: grey;
  font-size: 0.5rem;
  letter-spacing: 0.5px;
  position: absolute;
  left: 4px;
  bottom: 2px;
  max-height: 20px;
}

.key-group input:focus {
  box-shadow: 0px 0px 8px gray;
  border: 2px solid maroon;
}

#menu-popup {
  right: 0.75rem;
  bottom: 3.5rem;
  position: absolute;
  width: 125px;
  height: 100px;
  background-color: var(--comp-color-hover);
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0px 1px 15px var(--nav-background-color);
  visibility: hidden;

  display: flex;
  flex-direction: column;
}

.top-buttons {
  width: 100%;
  height: 50%;
  padding-left: 7px;
  padding-top: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-buttons p {
  text-align: center;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin-left: 0.75rem;
}

.top-buttons button {
  border: 2px solid black;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  background-color: var(--component-background-color);
  color: white;
  cursor: pointer;
}
.top-buttons button:hover {
  background-color: var(--comp-color-hover);
}

.links {
  height: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  margin-bottom: 0.25rem;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: maroon;
  color: white;

  cursor: pointer;
}

.links a:hover {
  background-color: var(--valbility-red);
}
